---
interface Props {
  name: string;
  description: string;
  url: string;
  videoPath: string;
}

const { name, description, url, videoPath } = Astro.props;
---

<div class="mx-auto w-min">
  <div class="relative w-91 h-111 overflow-hidden">
    <video
      autoplay
      muted
      loop
      playsinline
      class="object-cover absolute w-full h-full rounded-lg"
      src={videoPath}></video>
  </div>
  <h2 class="text-xl tracking-tight mt-6 mb-2">{name}</h2>
  <p class="text-sm font-light tracking-tight">{description}</p>
</div>
