---
interface Props {
  name: string;
  description: string;
  url: string;
  videoPath: string;
  button: string;
}

const { name, description, url, videoPath, button } = Astro.props;
---

<div class="mx-auto w-min">
  <div class="relative w-91 h-111 overflow-hidden">
    <button
      class="glass-button absolute z-10 px-2 py-1 text-sm text-white right-3 top-2.5 flex items-center gap-1"
      ><img src="/assets/icons/plus.svg" alt="+" class="rotate-45 size-3.5" />{
        button
      }</button
    >
    <video
      autoplay
      muted
      loop
      playsinline
      class="object-cover absolute w-full h-full rounded-lg"
      src={videoPath}></video>
  </div>
  <h2 class="text-xl tracking-tight mt-6 mb-2">{name}</h2>
  <p class="text-sm font-light tracking-tight">{description}</p>
</div>
