---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const ui = useTranslations(lang);
---

<section class="my-18">
  <h2 class="text-[#7B7B7B] text-center font-normal uppercase">
    {ui.selected_work.title}
  </h2>
</section>
