---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const ui = useTranslations(lang);
---

<header>
  <img src="/assets/icon.svg" alt="Logo NotAlias_" />
  <nav>
    <ul></ul>
  </nav>
</header>
