---
import { cn } from "@/helpers/cn";

interface Props {
  title: string;
  description: string;
  align: "left" | "right" | "center";
  className?: string[];
}
const { title, description, align, className } = Astro.props as Props;
---

<div
  class={cn("absolute space-y-2", className && className[0])}
  class:list={{
    "text-center": align === "center",
    "text-left": align === "left",
    "text-right": align === "right",
  }}
>
  <h2
    class={cn("text-sm leading-tight", className && className[1])}
    class:list={{
      "mx-auto": align === "center",
      "mr-0 ml-auto": align === "right",
      "ml-0 mr-auto": align === "left",
    }}
  >
    {title}
  </h2>
  <p
    class={cn(
      "text-[10px] font-light leading-tight",
      className && className[2],
    )}
    class:list={{
      "mx-auto": align === "center",
      "mr-0 ml-auto": align === "right",
      "ml-0 mr-auto": align === "left",
    }}
  >
    {description}
  </p>
</div>
