---
import Footer from "@/components/footer.astro";
import Header from "@/components/navbar/header.astro";
import { cn } from "@/helpers/cn";
import type { Lang } from "@/i18n/translations";
import "@/styles/global.css";

interface Props {
  lang: Lang;
  title?: string;
  className?: string;
}

const { lang = "es", title, className } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : "Not Alias_"}</title>
  </head>
  <body class={cn(className)}>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
